<!-- <div class="container">
  <div class="logo">
    <a routerLink="/home">
      <img src="1.png" alt="Logo">
    </a>
    <a routerLink="/home">wARdrobe</a>
  </div>

  <div class="category" 
     (mouseenter)="showDropdown('women')" 
     (mouseleave)="hideDropdown()">
  <a class="category-button">Kadın</a>
  <div class="dropdown" *ngIf="activeDropdown === 'women'">
    <ul>
      <li *ngFor="let item of categories['women']">

        <a [routerLink]="['/category', 'Kadın', item.name]">{{ item.name }}</a>

      </li>   
    </ul>
  </div>
</div>

<div class="category" 
     (mouseenter)="showDropdown('men')" 
     (mouseleave)="hideDropdown()">
  <a class="category-button">Erkek</a>
  <div class="dropdown" *ngIf="activeDropdown === 'men'">
    <ul>
      <li *ngFor="let item of categories['men']">
        <a [routerLink]="item.link">{{ item.name }}</a>
      </li>
    </ul>
  </div>
</div>


  

  <div class="search-bar">
    <input type="text" placeholder="Ara..." (input)="onSearch($event)">
    <i class="fa fa-search search-icon"></i>

    
  </div>

  <div class="login">

    <a routerLink="/login">Giriş Yap</a>


  </div>
</div> -->
<div class="container">
  <div class="logo">
    <a routerLink="/home">
      <img src="1.png" alt="Logo">
    </a>
    <a routerLink="/home">wARdrobe</a>
  </div>

  
<div class="category" 
(mouseenter)="showDropdown('women')" 
(mouseleave)="hideDropdown()">
<a class="category-button">Kadın</a>
<div class="dropdown" *ngIf="activeDropdown === 'women'">
<ul>
 <li *ngFor="let item of categories['women']">
   <a [routerLink]="['/category', 'Kadın', item.name]">{{ item.name }}</a>
 </li>
</ul>
</div>
</div>

<div class="category" 
(mouseenter)="showDropdown('men')" 
(mouseleave)="hideDropdown()">
<a class="category-button">Erkek</a>
<div class="dropdown" *ngIf="activeDropdown === 'men'">
<ul>
 <li *ngFor="let item of categories['men']">
   <a [routerLink]="['/category', 'Erkek', item.name]">{{ item.name }}</a>
 </li>
</ul>
</div>
</div>


  <div class="search-bar">
    <input type="text" placeholder="Ara..." (input)="onSearch($event)">
    <i class="fa fa-search search-icon"></i>
  </div>

  <div class="login" *ngIf="currentUser; else guest">
    <a routerLink="/favorites" class="fav-btn">❤️ Favoriler</a>
    <span class="user-name">Hoş Geldiniz, {{ currentUser.name }}</span>
    <button class="logout-btn" (click)="logout()">Çıkış Yap</button>
  </div>
  
  <ng-template #guest>
    <div class="login">
      <a routerLink="/login" class="login-btn">Giriş Yap</a>
    </div>
  </ng-template>
  
</div>
