<div class="favorites-container">
    <h2>Favori Ürünler</h2>
  
    <!-- Favoriler listesi -->
    <div *ngIf="favorites.length > 0; else noFavorites">
      <div *ngFor="let favorite of favorites" class="favorite-item">
        <a [routerLink]="['/product', favorite.product_id]"> <!-- Burada RouterLink kullanıyoruz -->
          <img [src]="favorite.product_image" alt="{{favorite.product_name}}" />
          <p><strong>Ürün Adı:</strong> {{ favorite.product_name }}</p>
          <p><strong>Fiyat:</strong> {{ favorite.product_price }}</p>
        </a>
      </div>
    </div>
  
    <!-- Favori bulunmazsa gösterilecek mesaj -->
    <ng-template #noFavorites>
      <p>Henüz favori ürününüz yok.</p>
    </ng-template>
  </div>
  